<div class="human human-live {{distance}}" id="human_{{human._id}}" ng-click="click(human);">
	<superStyle selector="" styles="human.css.animations" key="human.key"></superStyle>

	<superStyle selector="'#human_' + human._id +  ' .head'" styles="human.css.head" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .head:before'" styles="human.css.head_before" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .head:after'" styles="human.css.head_after" key="human.key"></superStyle>

	<superStyle selector="'#human_' + human._id +  ' .body'" styles="human.css.body" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .body:before'" styles="human.css.body_before" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .body:after'" styles="human.css.body_after" key="human.key"></superStyle>

	<superStyle selector="'#human_' + human._id +  ' .legs'" styles="human.css.legs" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .legs:before'" styles="human.css.legs_before" key="human.key"></superStyle>
	<superStyle selector="'#human_' + human._id +  ' .legs:after'" styles="human.css.legs_after" key="human.key"></superStyle>
	<div class="head"></div>
	<div class="body"></div>
	<div class="legs"></div>
</div>